{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    codespaces = {{ $codespaces }}
{{- if $codespaces }}
    email = "aparker@stackoverflow.com"
    location = "codespaces"
{{- else }}
    email = {{ promptString "email" | quote }}
    location = {{ promptString "location, Home or Work" | quote }}
{{- end }}