[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Ally Parker
	email = {{ .email }}
[alias]
	cm = checkout main
	cob = "!f(){ git checkout -b $1; }; f"
	rc = rebase --continue
	mt = merge-tool
	ra = rebase --abort
	rhm = reset --hard origin/main
	rh = "!f(){ git reset --hard; git clean -f; }; f"
	ru = remote update --prune
	kill = "!f() { git branch --merged ${1-main} | grep -v " ${1-main}$" | xargs -r git branch -D; }; f"
	p = "!f(){ git checkout main; git ru; git rhm; }; f"
	shove = push --force-with-lease
	graph = log --oneline --graph
	new = !git init && git symbolic-ref HEAD refs/heads/main
    co = checkout
[merge]
  keepBackup = false
  tool = p4merge
[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$REMOTE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$MERGED\""
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[diff]
  tool = p4merge
  prompt = false
[difftool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$REMOTE\"" "\"$LOCAL\""
[rerere]
	enabled = true
	autoupdate = true
[help]
	autocorrect = 1
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore
    pager = delta
    editor = vim
	autocrlf = input
	eol = lf
[delta]
    side-by-side = true

[interactive]
    diffFilter = delta --color-only
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
